/*
	Theme Name: Adventure Tours Child
	Theme URI: http://themeforest.net/user/themedelight/portfolio
	Description: Adventure Tours child theme
	Template: adventure-tours
	Text Domain: adventure-tours-child
	Version: 1.0.0
*/

/* Test */

/* Add a background image to the 'category image' section on home page. */
#ms-home-tour-cat #swiper1 {
	background-image: url("images/ms-banner-home-1902x508.jpg");
	background-position: center;
	background-repeat: no-repeat;
}

/* Ensure bottom row on home page has zero bottom margin. */
body.home > div.layout-content div.margin-bottom {
	margin-bottom: 0;
}

/* Style title text on background images. */
.ms-bg-text .title__primary,
.header-section--with-banner .header-section__title {
	color: #fff;
    text-shadow: 0 0 4px #000, 0 0 4px #000;
}
/* Style review text on tour background images, and on tour category featured images (e.g. on home page). */
.header-section__rating i,
.header-section__rating__link,
.tours-type__item__title {
	text-shadow: 0 0 2px #000, 0 0 2px #000;
}
/* Enusre correct vertical spacing on home page hero image. */
body.home .container.layout-container.margin-top {
	margin-top: 0;
}
.ms-bg-text .title {
	margin-bottom: 80px;
}

/* Add padding and separator between company logos in header. */
header .header__info__items-left img {
	padding: 0 10px;
}
header .header__info__items-left img:first-child {
	border-right: 2px solid #e6e6e6;
}

/* Ensure flags are centered in header. */
#flags {
	line-height: 35px;
	margin: 5px 0;
}

/* Ensure header icons have correct spacing, and a separator. */
.header__info__item--shoping-cart {
	padding-left: 15px;
	border-left: 2px solid #e6e6e6;
}
.header__info__item--social-icons {
	padding-right: 15px;
}

/* Ensure header is responsive. */
@media (max-width: 767px) {
.header__info__items-right {		
		text-align: start;
	}
}

/* Format titles on About Us page. */
.au-sub-tit {
	margin-top: 50px;
}
.au-sub-tit .vc_separator h4 {
	font-size: 150%;
}

/* Ensure social icons on home page are centered. */
.ms-soc-home {
	text-align: center;
}
.ms-soc-home .social-icons__icon {
	margin-top: 0;
}

/* Ensure correct vertical spacing for contact options on home page. */
body > div.layout-content > div > div > main > div:nth-child(5) > div > div > div > div > div > div > div > h3 {
	margin-block-start: 0;
}
body > div.layout-content > div > div > main > div:nth-child(5) > div > div > div > div > div > div > div > div.vc_icon_element.vc_icon_element-outer.vc_icon_element-align-center {
	margin-bottom: 0;
}

body > div.layout-content > div.container.layout-container.margin-top.margin-bottom > div > main > div > div:nth-child(3) > div:nth-child(1) > div > div > div > div > div {
	min-height: 500px;
}

/* Ensure gallery elements are centered at low screen width.*/
@media (max-width: 991px) {
	.photonic-instagram-stream, .ms-gal-text {
		text-align: center;
	}
	/*Ensure Instagram feed is centered at all screen widths.*/
	.photonic-standard-layout {
    	justify-content: center;
	}
}

/* Begin popup edits. */

/* Hide the tour attributes. */
.ms-tours-pup .atlist__item__attributes {
	display: none;
}

/* Reduce size of ratings stars and text. */
.ms-tours-pup .atlist__item__rating {
	font-size: 1em;
}
.ms-tours-pup .atlist__item__rating-value {
	font-size: 0.75em;
	margin-bottom: 0;
}

/* Hide the banner on each thumbnail image. */
.ms-tours-pup .atlist__item__angle-wrap {
	display: none;
}

/* Reduce height of elements on right-hand side. */
.ms-tours-pup .atlist__item__price {
	margin-top: 0;
}
.ms-tours-pup .atlist__item__price-label {
	margin-top: 0;
	font-size: 0.6em;
}
.ms-tours-pup .atlist__item__content__items {
	padding-top: 0;
}

/* Reduce thumbnail size at large screen widths. */
@media (min-width: 769px) {
	.ms-tours-pup .atlist__item__image {
		width: 27%;
	}
}

/* Ensure the pop-up windows re-size accordingly at mobile screen widths. */
@media (max-width: 768px) {
	/* Add the ID of each pop-up window here. There should be three different IDs here. */
	#popmake-1262 {
		/* max-width: 400px !important; */
	}
}

/* Ensure correct vertical spacing at low screen widths. */
@media (max-width: 500px) {
	.ms-tours-pup .atlist__item__content__items .atlist__item__content__item:nth-child(1) {
		margin-bottom: 0;
	}
}

/* Style titles in popups. */
.ms-pup-sea {
	display: flex;
	justify-content: space-between
}
.ms-pup-titr {
	font-size: 14px;
}
.ms-pup-titl {
	font-size: 24px;
	font-family: Oxygen;
	font-weight: 700;
	text-decoration: underline;
}
@media (max-width: 768px) {
	.ms-pup-titr {
		font-size: 12px;
	}
	.ms-pup-titl {
		font-size: 20px;
	}
}

/* End popup edits. */

/* Ensure images on About Us page are responsive. */
@media (max-width: 768px) {
	#ms-ab-suphot .vc-hoverbox-block.vc-hoverbox-front {
		background-image: url("images/suphot-1-768x260.jpg") !important;
	}
	#ms-ab-tai .vc-hoverbox-block.vc-hoverbox-front {
		background-image: url("images/tai-circle-768x260.jpg") !important;
	}
	#ms-ab-chicken .vc-hoverbox-block.vc-hoverbox-front {
		background-image: url("images/chicken-circle-768x260.jpg") !important;
	}
	.ms-ab-thumbs .vc-hoverbox {
		margin: 10px 0;
	}
	.ms-ab-tit {
		margin-top: 0;
	}
	
}

/* Ensure placeholder text in 'Additional Hour' field on booking form displays in full. */
@media only screen and (max-width: 1199px) and (min-width: 992px) {
	#tourBookingForm button[data-id*="pa_add"] {
		font-size: 11px;
	}
}

/* Ensure price qualifier text on tour pages remains on one line. */
.price-decoration__label {
	padding: 10px 0;
}

/* Ensure  category featured images in home page hero image stand out. */
.ms-cat-img .tours-type__slider img {
	border-style: solid;
    border-width: 5px;
	border-color: white;
	border-radius: 20px;
}

.atlist__item__content__items{
	/* position:static; */
}
.atlist__item__attributes {
	display: none;
}

/* Ensure sub-titles on home page use correct font (same as logo). */
.ms-br-sub {
	font-family: 'Abhaya Libre', serif;
}


/* Add WTS ribbon to home page images. */
.swiper-slide.tours-type__item {
	position: relative;
}
span.ms-wts-ribbon::after {
	content: url("../../uploads/2019/05/logo-wds-trim-35h.png");
}

.ribbon {
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: absolute;
}
.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: '';
  display: block;
  border: 5px solid #2980b9;
}
.ribbon span.ms-wts-ribbon {
  position: absolute;
  display: block;
  width: 225px;
/*   padding: 15px 0; */
  padding: 0;

  background-color: #f6f6f6;
/*   box-shadow: 0 5px 10px rgba(0,0,0,.1); */
  color: #fff;
  font: 700 18px/1 'Lato', sans-serif;
  text-shadow: 0 1px 1px rgba(0,0,0,.2);
}

/* top left*/
.ribbon-top-left {
  top: -10px;
  left: -10px;
}
.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}
.ribbon-top-left::before {
  top: 0;
/*   right: 0; */
  right: 15px;

}
.ribbon-top-left::after {
/*   bottom: 0; */
  bottom: 15px;

  left: 0;
}
.ribbon-top-left span.ms-wts-ribbon {
  right: -15px;
  top: 40px;
  transform: rotate(-45deg);
}
